{% extends "base.html" %}

{% load static %}

{% block content %}
  
<div class="search">
        <input type="search" placeholder="Search here..."> 
</div>
<section id="hero">
        <h4>Trade-in-offer</h4>
        <h2>Super value deals</h2>
        <h1>On all Products</h1>
        <p>Save more with coupons  &amp; up to 50% off!</p>
        <button class="white">Shop Now</button>
        <div id="counter" class="section-m1">
            <div class=" ">
                <h3>Available Products</h3>
                <h4 class="available-products number">1000</h4>
            </div>
            <div class="">
                <h3>Products Devlivered</h3>
                <h4 class="delivered-products number"> 200</h4>
            </div>
            <div>
                <h3>Devlivering</h3>
                <h4 class="delivering number">50</h4>
            </div>
        </div>
</section>
    
<section class="section-m1 section-p1 text">
    <h1 class="main-text"></h1>
</section>

<section class="section-p1" id="feature">

    <div class="feature-box">
        <img src="{% static 'imgs/feature/f1.png' %}" alt="">
        <h6>Free Shipping</h6>
    </div>
    <div class="feature-box">
        <img src="{% static 'imgs/feature/f2.png' %}" alt="">
        <h6>Online Order</h6>
    </div>
    <div class="feature-box">
        <img src="{% static 'imgs/feature/f3.png' %}" alt="">
        <h6>Save Money</h6>
    </div>
    <div class="feature-box">
        <img src="{% static 'imgs/feature/f4.png' %}" alt="">
        <h6>Promotion</h6>
    </div>
    <div class="feature-box">
        <img src="{% static 'imgs/feature/f5.png' %}" alt="">
        <h6>Happy Sell</h6>
    </div>
    <div class="feature-box">
        <img src="{% static 'imgs/feature/f6.png' %}" alt="">
        <h6>24/7 Support</h6>
    </div>
</section>

<section class="section-p1 product1">
    <h2>Featured Products</h2>
    <p>Summer Collection New Mordern Design</p>
    <div class="pro-container">
        <div class="pro">
            <img src="static/imgs/f1.jpg" alt="Product">
            <div class="description">
                <h5>adidas</h5>
                <h5>Cartoon Astronaut T-Shirts</h5>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$90.00</h4>
            </div>
            <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="static/imgs/f2.jpg" alt="Product">
            <div class="description">
                <h5>adidas</h5>
                <h5>Cartoon Astronaut T-Shirts</h5>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$90.00</h4>
            </div>
            <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="static/imgs/f3.jpg" alt="Product">
            <div class="description">
                <h5>adidas</h5>
                <h5>Cartoon Astronaut T-Shirts</h5>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$90.00</h4>
            </div>
            <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="static/imgs/f4.jpg" alt="Product">
            <div class="description">
                <h5>adidas</h5>
                <h5>Cartoon Astronaut T-Shirts</h5>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$90.00</h4>
            </div>
            <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="static/imgs/f5.jpg" alt="Product">
            <div class="description">
                <h5>adidas</h5>
                <h5>Cartoon Astronaut T-Shirts</h5>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$90.00</h4>
            </div>
            <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="static/imgs/f6.jpg" alt="Product">
            <div class="description">
                <h5>adidas</h5>
                <h5>Cartoon Astronaut T-Shirts</h5>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$90.00</h4>
            </div>
            <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="static/imgs/f7.jpg" alt="Product">
            <div class="description">
                <h5>adidas</h5>
                <h5>Cartoon Astronaut T-Shirts</h5>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$90.00</h4>
            </div>
            <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="/static/imgs/f8.jpg" alt="Product">
            <div class="description">
                <h5>adidas</h5>
                <h5>Cartoon Astronaut T-Shirts</h5>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$90.00</h4>
            </div>
            <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
        </div>
    </div>
</section>

<section class="section-p1 more-products">
<a href="sproduct.html">  <button class="white">See More <i class="fa-solid fa-arrow-right arrow"></i> </button></a>
</section>
<section class="section-m1" id="banner" >
<h4>Repair Services</h4>
<h2>Up to <span>70% Off </span> On-All T-Shirts &amp; Accessories </h2>
<button class="white">Explore More</button>
</section>
<section class="section-p1 product1">
<h2>New Arrivals</h2>
<p>Summer Collection New Mordern Design</p>
<div class="pro-container">
    <div class="pro">
        <img src="static/imgs/n1.jpg" alt="Product">
        <div class="description">
            <h5>adidas</h5>
            <h5>Cartoon Astronaut T-Shirts</h5>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <h4>$90.00</h4>
        </div>
        <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
    </div>
    <div class="pro">
        <img src="static/imgs/n2.jpg" alt="Product">
        <div class="description">
            <h5>adidas</h5>
            <h5>Cartoon Astronaut T-Shirts</h5>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <h4>$90.00</h4>
        </div>
        <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
    </div>
    <div class="pro">
        <img src="static/imgs/n3.jpg" alt="Product">
        <div class="description">
            <h5>adidas</h5>
            <h5>Cartoon Astronaut T-Shirts</h5>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <h4>$90.00</h4>
        </div>
        <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
    </div>
    <div class="pro">
        <img src="static/imgs/n4.jpg" alt="Product">
        <div class="description">
            <h5>adidas</h5>
            <h5>Cartoon Astronaut T-Shirts</h5>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <h4>$90.00</h4>
        </div>
        <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
    </div>
    <div class="pro">
        <img src="static/imgs/n4.jpg" alt="Product">
        <div class="description">
            <h5>adidas</h5>
            <h5>Cartoon Astronaut T-Shirts</h5>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <h4>$90.00</h4>
        </div>
        <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
    </div>
    <div class="pro">
        <img src="static/imgs/n3.jpg" alt="Product">
        <div class="description">
            <h5>adidas</h5>
            <h5>Cartoon Astronaut T-Shirts</h5>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <h4>$90.00</h4>
        </div>
        <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
    </div>
    <div class="pro">
        <img src="static/imgs/n2.jpg" alt="Product">
        <div class="description">
            <h5>adidas</h5>
            <h5>Cartoon Astronaut T-Shirts</h5>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <h4>$90.00</h4>
        </div>
        <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
    </div>
    <div class="pro">
        <img src="static/imgs/n1.jpg" alt="Product">
        <div class="description">
            <h5>adidas</h5>
            <h5>Cartoon Astronaut T-Shirts</h5>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <h4>$90.00</h4>
        </div>
        <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
    </div>
</div>
</section>
<section id="sm-banner" class="section-p1">
<div class="banner-box">
    <h4>Crazy deals</h4>
    <h2>Buy 1 Get 1 
        Free</h2>
    <p>The best classic dress is on sale at care</p>
    <button class="white">Learn More</button>
</div>
<div class="banner-box banner-box2">
    <h4>Spring/Summer</h4>
    <h2>Upcomming Season</h2>
    <p>The best classic dress is on sale at care</p>
    <button class="white">Collection</button>
</div>
</section>
<section id="banner3">
<div class="banner-box">
    <h1>SEASONAL SALE</h1>
        <h3>Winter Collection -50% Off</h3>
</div>
<div class="banner-box banner-box2">
    <h1>NEW FOOTWEAR COLLECTIONS</h1>
        <h3>Winter Collections 2024</h3>
</div>
<div class="banner-box banner-box3">
    <h1>T-SHIRTS</h1>
        <h3>New Trendy Prints</h3>
</div>
</section>

{% endblock content %}
 